@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
@font-face{

    font-family: 'Panton';
    
    src: url('../fonts/Panton-SemiBold.eot');
    
    src: url('../fonts/Panton-SemiBold.eot?iefix') format('eot'),
    
    url('../fonts/Panton-SemiBold.woff') format('woff'),
    
    url('../fonts/Panton-SemiBold.ttf') format('truetype'),
    
    url('../fonts/WebFont.svg#webfont') format('svg');
    
    font-weight: 600;
    
    font-style: normal;
    
    }