$whiteColor: #FFFFFF;
$darkGrrey: #F8F8F8;
$orangeColor: #FFCC80; 
$textColor: #3C4852;
$fontPanton: 'Panton', sans-serif;

$blueColor: #38BCEA;
$darkBlueColor: #01678A;
$fontFamily: 'Work Sans',
sans-serif;
$fontSize: 16px;
$accentColor: #2196F3;
$blackColor: #313131;
$darkGrayColor: #7C7878;
$grayColor: #C4C4C4;