$fontFamily: 'Work Sans',
sans-serif;
$fontSize: 16px;
$whiteColor: #FFFFFF;
$accentColor: #2196F3;
$blackColor: #313131;
$darkGrayColor: #7C7878;
$grayColor: #C4C4C4;
$lightGrayColor: #E5E5E5;
$blockGrayColor: #F2F2F2;
$yellowColor: #FFE296;


//My 

$darkGrrey: #F8F8F8;
$orangeColor: #FFCC80; 
$textColor: #3C4852;
$fontPanton: 'Panton', sans-serif;